%div.container-fluid
  %div.row
    %h2(style="text-align: center") Welcome to BallotBox!

%br
%br

%div.container-fluid
  %div.row
    %div.center-block(style="width:30%;")
      = link_to 'View Public Votes', elections_path, class: "btn btn-block btn-info"
