// Place all the styles related to the elections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#list-table {
    table-layout: fixed;
    word-wrap: break-word;
}

.button-block {
    float: none;
    margin: 0 auto;
}
